div{
    /* background-color: red; */
    height: 500px;
    position: relative;
    text-align: center;
}
img{
    
}
.btn-previos{
    position: absolute;
    top:50%;
    width: 2%;
    left: 29.6%;
    
}
.btn-next{
    position: absolute;
    top:50%;
    width: 2%;
    right: 29.6%;
    
}
